header {
    height: 60px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.title {
    font-size: 35px;
    padding: 10px;
    color: darkslateblue;
}

.btn-restart {
    position: absolute;
    left: 12px;
    top: 65px;
    background-color: darkslateblue;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

